
.upperhead
{
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
	text-align :left;
}
.p_head
   {
	font-family :verdana;
	font-size :23px;
	font-weight :bold;
	color :#0a4a83;
	text-align :center ;
}
.p_head1
   {
	font-family :verdana;
	font-size :20px;
	font-weight :bold;
	color :black;
	text-align :center ;
}
.upperhead1
	{
	/*height:0px; 
	width: 300px; */
	font-size:12px;
	font-weight:bold; 
	font-family:Arial;
	Color: #000000;
	width: 440px;
}
 .tdforcolname
 {
 	 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 color:White;
 width:14%;
text-align:left;
}
 .newfont
{
	
   background-color:#f8f9fd;
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:8%;
		
}
.imageclass
 {
	background-image:url('images/header-img.jpg');
	background-repeat:repeat-x; 
}
.pagingcenter
	{  
	background-color:#5195dd;
	font-weight:bold;
	font-family:Verdana;
	font-size:11px;
	color:#ffffff; 
	}
	.pagingright
	{
    
	background-color:#5195dd;
	font-weight:bold;
	font-family:Verdana;
	font-size:11px;
	color:#ffffff;

	}
	.pagingleft
	{
    
	background-color:#5195dd;
	font-weight:bold;
	font-family:Verdana;
	font-size:11px;
	color:#ffffff;
	}
.upperhead2
{
	/*height:0px; 
	width: 300px; */
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
	text-align:left;
}
.upperhead3
{
	/*height:0px; 
	width: 300px; */
	font-size:12px;
	/*font-weight:bold; */
	font-family:Verdana;
	Color: #000000;
	height :20px;
	text-align :left;
}
.break
{
	/*page-break-after :always; */
	page-break-before :always ;
	/*position :fixed ; */
}
.tdforcolname1
 {
 border-top:solid 1px black;
 border-bottom:solid 1px black; 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:27%;
 text-align:right;
 padding-right:20px;
 }
 
 .tdforcolname1comision
 {
 border-top:solid 1px black;
 border-bottom:solid 1px black; 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:12%;
 text-align:right;
 padding-right:20px;
 }
 .reporttext
{

	
	font-family:Verdana Arial;
	font-size:10px;
	
}
  .newfont1
{
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:27%;
		font-weight:normal;
		padding-right:20px;
		
}

  .newfont1comision
{
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:12%;
		font-weight:normal;
		padding-right:20px;
		
}
.newfont1_othl
{
	 /* background-color:#f8f9fd;*/
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:34%;
		padding-left:15px;
}
.tdforcolname2
 {
 	 
 height:20px; 
 font-weight:bold; 
 font-size:12px;
 font-family:Verdana;
 color:White;
 width:11%;
text-align:right;
}
 .newfont2
{
	
   background-color:#f8f9fd;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:11%;
}
		.upperhead3
{
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
	text-align :center;
}
.tdforcolname3
{
	height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 color:White;
 width:27%;
text-align:right;
padding-right:20px;
}
.tdforcolname4
{
	height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 color:White;
 width:19%;
text-align:left;
padding-left:15px;
}
.tdforcolname5
{
	height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 color:White;
 width:11%;
text-align:left;
}
.newfont5
{
	  background-color:#f8f9fd;
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:8%;
}
.tdforcolname6
 {
 	 
 height:20px; 
 font-weight:bold; 
 font-size:12px;
 font-family:Verdana;
 color:White;
 width:10%;
text-align:right;
}
.newfont6
{
	  background-color:#f8f9fd;
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:10%;
}
	 .newfont11
{
	  
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:7%;
}
	 .newfont12
{
	  
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:10%;
}
 .newfont13
{
	
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:15%;
}
.tdforcolname11
 {
 	 border-top:solid 1px black;
  border-bottom:solid 1px black; 
 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:34%;
 text-align:left;
 padding-left:15px;
 }
 .tdforcolname12
 {
 	 border-top:solid 1px black;
  border-bottom:solid 1px black; 
 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:10%;
 text-align:left;
 }
 .tdforcolname13
 {
 	 border-top:solid 1px black;
  border-bottom:solid 1px black; 
 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:15%;
 text-align:left;
 }
  .newfont14
{
	 background-color:#f8f9fd;
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:27%;
		padding-right:20px;
}
  .newfont14_othl
{
	 background-color:#f8f9fd;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
		text-align:left ;
		width:19%;
		padding-left:15px;
}

 .newfont14tot
{
	 background-color:#f8f9fd;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:27%;
		font-weight:bold;
		padding-right:20px;
}
  .newfont14_othltot
{
	 background-color:#f8f9fd;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:19%;
		font-weight:bold;
		padding-left:15px;
}
.upperhead4
{
	font-size:12px;
  font-weight:bold; 
	font-family:Arial;
	Color: #000000;
	height :20px;
	text-align :left;
	padding-left:15px;
}
.upperhead22
{
	/*height:0px; 
	width: 300px; */
	font-size:11px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
	text-align:left;
}

.newfont6forprint
{
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
		text-align:left ;
		width:34%;
		font-weight:bold;
		padding-left:15px;
		
}
.newfont7forprint
{
	
 		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:27%;
		font-weight:bold;
		padding-right:20px;
		border-bottom:solid 1px black;
		border-top:solid 1px black;
		
}

.newfont7forprintcomision
{
	
 		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:12%;
		font-weight:bold;
		padding-right:20px;
		border-bottom:solid 1px black;
		border-top:solid 1px black;
		
}


.newfont7forprintGTOT
{
	
 		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:27%;
		font-weight:bold;
		padding-right:20px;
			
}

.newfont7forprintcomisionGTOT
{
	
 		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:12%;
		font-weight:bold;
		padding-right:20px;
				
}

.newfont15
{
	
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:right ;
		width:5%;
}
 .tdforcolname15
 {
 	 border-top:solid 1px black;
  border-bottom:solid 1px black; 
 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:5%;
 text-align:left;
 }
  .tdforcolname16
 {
 	 border-top:solid 1px black;
  border-bottom:solid 1px black; 
 
 height:20px; 
 font-weight:bold; 
 font-size:11px;
 font-family:Verdana;
 width:10%;
 text-align:left;
 }
  .newfont16
{
	  
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:normal;
		text-align:left ;
		width:10%;
}
.upperhead5
{
	/*height:0px; 
	width: 300px; */
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
	text-align:right;
}
.tdforcolname17
{
	height:20px;
	font-weight:bold;
	font-size:14px;
	font-family:Verdana;
	color:black;
	
	text-align:center;
}
.tdforcolname18
{
	height:20px;
	font-weight:normal;
	font-size:12px;
	font-family:Verdana;
	color:black;
	
	text-align:left;
}
.tdforcolname19
{
	height:20px;
	font-weight:normal;
	font-size:12px;
	font-family:Verdana;
	color:black;
	
	text-align:right;
}

/* start here  for month wise commission wise sup */

.caption1
{
 font-family:Arial;
 color:White;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-left:100px;
 text-align:left;
}
.caption2
{
	color:White;
	font-family:Arial;
	FONT-WEIGHT:normal ;
 font-size: 11px;
  vertical-align :text-top ;
 font-weight :bold;
 padding-left:10px;
 text-align:left;
}

.caption1_edition
{
 font-family:Arial;
 color:White;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-left:10px;
 text-align:left;
}

.forrecordsdarta
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		
	
		
		
	}
	
	.forrecordstotal
	{
		font-family:Arial;
		font-size:11px;
		color: #000000;
	 font-weight:bold;
		text-align:left;
		padding-right:10px;
	}
	
	
	.forrecordsdata1
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:left;
		padding-right:10px;
		
	}
	.forrecordsdata2
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:left;
		padding-right:10px;
		
	}
	
	.forrecordsdata1_edition
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:left;
		padding-left:10px;
		
	}
	
	.newhead
	{
	font-family :Arial;
	font-size :23px;
	font-weight :bold;
	color :#0a4a83;
	text-align:center;
	
	}
	
	.upperheaddate
	{
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
   }
   
   .publtotal
{
	font-size :12px;
	font-weight :bold;
	font-family :Verdana ;
	padding-right:10px;
	text-align:left;
}

.total
{
	    font-family :Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
		text-align:left;
		padding-right:10px;

}


  .comisionprint_data
 { 
 font-size:11px;	
 width:9%;
 font-weight:normal;
 text-align:right;
 padding-right:10px;
 }
 
   .comisionprint_data_edition
 { 
 font-size:11px;	
 width:14%;
 font-weight:bold;
 text-align:left;
 padding-left:10px;
 }
 
 .comisionprint_datatotal
	{
		background-color:inherit;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		width:9%;
		font-weight:bold;
	    text-align:right;
	    padding-right:10px;
	}
	
	 .comisionprint_totalnum
 {
 
  border-bottom:solid 1px black;
   border-top:solid 1px black;
   font-size:11px;	
   font-weight:bold;
   text-align:right;  
   width:9%;
   padding-right:10px;
 }
 
  .comisionprint_caption
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:9%;
 text-align:right;
 padding-right:10px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 
  .comisionprint_caption_edition
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:14%;
 text-align:left;
 padding-left:10px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
   .comisionprint_caption2
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:9%;
 text-align:right;
 padding-right:10px;
 border-bottom:solid 1px black;

 }
 
 .p_headmonthwise
   {
	font-family :verdana;
	font-size :23px;
	font-weight :bold;
	color :black;
	text-align :center ;
}

.p_headmonthwiserepname
   {
	font-family :verdana;
	font-size :20px;
	font-weight :bold;
	color :black;
	text-align :center ;
}

.tdforcolname17_monthwise
{
	height:20px;
	font-size:12px;
	font-family:Arial;
	color:black;
	
}



/* start here  for Agency wise supply report       ================ */

.caption1_agency
{
 font-family:Arial;
 color:White;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-right:10px;
 text-align:right;
}

.caption1_edition_agency
{
 font-family:Arial;
 color:White;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-left:10px;
 text-align:left;
}

.forrecordsdarta_agency
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		
	
		
		
	}
	
	.forrecordstotal_agency
	{
		font-family:Arial;
		font-size:11px;
		color: #000000;
	 font-weight:bold;
		text-align:right;
		padding-right:10px;
	}
	
	.forrecordstotal_edit_agency
	{
		font-family:Arial;
		font-size:11px;
		color: #000000;
	 font-weight:bold;
		text-align:left;
		padding-left:10px;
	}
	
	
	.forrecordsdata1_agency
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:right;
		padding-right:10px;
		
	}
	
	.forrecordsdata1_edition_agency
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:left;
		padding-left:10px;
		
	}
	
	.newhead_agency
	{
	font-family :Arial;
	font-size :23px;
	font-weight :bold;
	color :#0a4a83;
	text-align:center;
	
	}
	
	.upperheaddate_agency
	{
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
   }
   
   .publtotal_agency
{
	font-size :12px;
	font-weight :bold;
	font-family :Verdana ;
	padding-right:10px;
	text-align:right;
}

.total_agency
{
	    font-family :Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
		text-align:right;
		padding-right:10px;

}


  .comisionprint_data_agency
 { 
 font-size:11px;	
 font-weight:normal;
 text-align:right;
 width:8%;
 padding-right:7px;
 }
 
  .comisionprint_data_agcomi
 { 
 font-size:11px;	
 width:6%;
 font-weight:normal;
 text-align:right;
 padding-right:5px;
 padding-right:10px;
 }
 
 
   .comisionprint_data_edition_agency
 { 
 font-size:11px;	
 width:180px;
 font-weight:normal;
 text-align:left;
 }
 
  .comisionprint_data_edition_agcity
 { 
 font-size:11px;	
 width:10%;
 font-weight:normal;
 text-align:left;
 padding-left:5px;
 }
 
 
 .comisionprint_datatotal_agency
	{
		background-color:inherit;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
	    text-align:right;
	    padding-right:10px;
	}
	
	 .comisionprint_totalnum_agency
 {
 
  border-bottom:solid 1px black;
   border-top:solid 1px black;
   font-size:11px;	
   font-weight:bold;
    width:8%;
    padding-right:7px;
   text-align:right;  
 }
 
  .comisionprint_caption_agency
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:right;
 width:8%;
 padding-right:7px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_ap2_agency
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:10%;
 text-align:left;
 padding-left:50px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_ap2_com
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:right;
 padding-right:5px;
 width:6%;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_ap2_ag
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:left;
 width:180px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 
  .comisionprint_caption_edition_agency
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:180px;
 text-align:left;
 border-bottom:solid 1px black;

 }
 
  .comisionprint_caption_edition_agcity
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:10%;
 text-align:left;
 padding-left:5px;
 border-bottom:solid 1px black;

 }
 
   .comisionprint_caption2_agency
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:right;
 padding-right:7px;
 width:8%;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption2_agcomi
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:6%;
 text-align:right;
 padding-right:5px;
 border-bottom:solid 1px black;

 }
 
 .p_headmonthwise_agency
   {
	font-family :verdana;
	font-size :23px;
	font-weight :bold;
	color :black;
	text-align :center ;
}

.p_headmonthwiserepname_agency
   {
	font-family :verdana;
	font-size :20px;
	font-weight :bold;
	color :black;
	text-align :center ;
}

.tdforcolname17_monthwise_agency
{
	height:20px;
	font-size:12px;
	font-family:Arial;
	color:black;
	
}

/* start here  for Agency wise Two month comparision Report    ================ */

.caption1_agency_bill
{
 font-family:Arial;
 color:White;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-right:10px;
 text-align:right;
}

.caption1_edition_agency_bill
{
 font-family:Arial;
 color:White;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-left:10px;
 text-align:left;
}

.forrecordsdarta_agency_bill
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		
	
		
		
	}
	
	.forrecordstotal_agency_bill
	{
		font-family:Arial;
		font-size:11px;
		color: #000000;
	 font-weight:bold;
		text-align:right;
		padding-right:10px;
	}
	
	.forrecordstotal_edit_agency_bill
	{
		font-family:Arial;
		font-size:11px;
		color: #000000;
	 font-weight:bold;
		text-align:left;
		padding-left:10px;
	}
	
	
	.forrecordsdata1_agency_bill
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:right;
		padding-right:10px;
		
	}
	
	.forrecordsdata1_edition_agency_bill
	{
	
		font-family:Arial;
		font-size:10px;
		color: #000000;
		font-weight:bold;
		padding-right:20px;
		text-align:left;
		padding-left:10px;
		
	}
	
	.newhead_agency_bill
	{
	font-family :Arial;
	font-size :23px;
	font-weight :bold;
	color :#0a4a83;
	text-align:center;
	
	}
	
	.upperheaddate_agency_bill
	{
	font-size:12px;
	/*font-weight:bold; */
	font-family:Arial;
	Color: #000000;
	height :20px;
   }
   
   .publtotal_agency_bill
   {
	font-size :12px;
	font-weight :bold;
	font-family :Verdana ;
	padding-right:10px;
	text-align:right;
   }

.total_agency_bill
{
	    font-family :Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
		text-align:right;
		padding-right:10px;

}


  .comisionprint_data_agency_bill
 { 
 font-size:11px;	
 font-weight:normal;
 font-family:Arial;
 text-align:right;
 width:8%;
 padding-right:7px;
 }
 
  .comisionprint_data_num_bill
 { 
 font-size:11px;	
 font-family:Arial;
 width:11%;
 font-weight:normal;
 text-align:right;
 padding-right:8px;
 }
 
 .comisionprint_data_num_billlast
 { 
 font-size:11px;	
 font-family:Arial;
 width:11%;
 font-weight:normal;
 text-align:right;
 padding-right:1px;
 }
 
 
   .comisionprint_data_agency_bill
 { 
 font-size:11px;	
 font-family:Arial;
 width:35%;
 font-weight:normal;
 text-align:left;
 }
 
  .comisionprint_data_agcity_bill
 { 
 font-size:11px;	
 font-family:Arial;
 width:19%;
 font-weight:normal;
 text-align:left;
 padding-left:5px;
 }
 
 
 .comisionprint_datatotal_bill
	{
		background-color:inherit;
		font-family:Arial;
		font-size:11px;
		color: #000000;
		font-weight:bold;
	    text-align:right;
	    padding-right:10px;
	}
	
	 .comisionprint_totalnum_bill
 {
 
  border-bottom:solid 1px black;
   border-top:solid 1px black;
   font-size:11px;	
   font-weight:bold;
    width:11%;
    padding-right:7px;
   text-align:right;  
 }
 
 	 .comisionprint_totalnum_billlast
 {
 
  border-bottom:solid 1px black;
   border-top:solid 1px black;
   font-size:11px;	
   font-weight:bold;
    width:11%;
    padding-right:1px;
   text-align:right;  
 }
 
  .comisionprint_caption_agency_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:right;
 width:8%;
 padding-right:7px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_ap2_agency_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:10%;
 text-align:left;
 padding-left:5px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_ap2_com_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:right;
 padding-right:5px;
 width:6%;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_ap2_ag_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:left;
 width:180px;
 border-top:solid 1px black;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption_num_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:11%;
 text-align:right;
 padding-right:8px;
 border-bottom:solid 1px black;
 border-top:solid 1px black;
 }
 
 .comisionprint_caption_num_billlast
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:11%;
 text-align:right;
 border-bottom:solid 1px black;
 border-top:solid 1px black;
 }
 
  .comisionprint_caption_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:35%;
 text-align:left;
 padding-left:1px;
 border-bottom:solid 1px black;
 border-top:solid 1px black;

 }
 
  .comisionprint_caption_agcity_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:19%;
 text-align:left;
 padding-left:5px;
 border-bottom:solid 1px black;
 border-top:solid 1px black;
 }
 
   .comisionprint_caption2_agency_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 text-align:right;
 padding-right:7px;
 width:8%;
 border-bottom:solid 1px black;

 }
 
 .comisionprint_caption2_agcomi_bill
 {
 height:20px;  
 font-weight:bold; 
 font-size:12px;	
 width:6%;
 text-align:right;
 padding-right:5px;
 border-bottom:solid 1px black;

 }
 
 .p_headmonthwise_agency_bill
   {
	font-family :verdana;
	font-size :23px;
	font-weight :bold;
	color :black;
	text-align :center ;
}

.p_headmonthwiserepname_agency_bill
   {
	font-family :verdana;
	font-size :20px;
	font-weight :bold;
	color :black;
	text-align :center ;
}
.shrey1
{
 font-family:Arial;
 color:black;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-right:10px;
 text-align:right;
}

.shrey
{
 font-family:Arial;
 color:black;
 FONT-WEIGHT:normal ;
 font-size: 11px;
 vertical-align :text-top ;
 font-weight :bold;
 padding-left:10px;
 text-align:left;
}
.tdforcolname17_monthwise_agency_bill
{
	height:20px;
	font-size:12px;
	font-family:Arial;
	color:black;
	
}