.newfont1
{	
	background-color:#f8f9fd;
	font-family:Arial;
	font-size:10px;
	color: #000000;
	font-weight:normal;
	text-align:left ;
	width:10%;		
}
.textintablesupply
{
	border:1px solid;
	border-color:Black;
	width:700px;	
}