.LabelText   
{ 
	font-family:Trebuchet MS;
	color:Black;
	text-align:right;
	height:11px;
	 font-size:small ;
}

.TextfieldCP
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:170px;
	text-transform:uppercase;
		
	
}

.dropdownCP
{
	
	border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:17px;
	width:174px;
	
}

.btext1CP
{
	/*font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: verdana;
    width:158px;*/
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:138px;
	
    
}