.LblText1 
{ 
	font-family:Trebuchet MS;
	color:Black;
	text-align:left;
	height:11px;
	font-size:12px;
}

.btext2
{
	border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-align: left;
	
	
}

.text
{
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-align: left;
	width:180px;	
}

.text1
{
 border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-align: left;
	width:180px;	
	height:16px	
}

.grid3
{
font-family:Verdana ;
color:Black;
font-size:11px;
vertical-align:middle;
text-align:center;

}

.grid2 
{ 
background-color:#7daae3;

font-family:Trebuchet MS;
color:Black;
height:11px;
font-size:12px;
}

.grid4
{
font-family:Verdana ;
color:Black;
font-size:11px;
vertical-align:middle;
text-align:left;

}

.btext23
{
	border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-align: left;
	width:150px;
	height:11px;
}


.btext23_d
{
	border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-align: left;
	width:130px;
	height:11px;
}

.drop_down
{
border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	text-align: left;
	width:152px;
	height:16px;	
}


.display
{
	 border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:180px;
	text-transform:uppercase;
	display:block;
}


.gridview11
{
font-family:Trebuchet MS;
color:Black;
font-size:11px;
vertical-align:middle;

}