

.dropdownforgrid
	{
	
	 border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 9px;
	color: #000000;
	height:17px;
	width:90px;
}
.row1
{
	font-family:Verdana;
	font-size:x-small;
}

.td1
{
	background-image:url('Images/bluebar.jpg')
}


.dytext0
{
	height:12px;
	width:10px;
	font-family:Verdana;
	font-size:smaller;
}
.dytext1
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext2
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext3
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext4
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext5
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext6
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext7
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext8
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext9
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}
.dytext10
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:30px;
	text-align:right
}




.dytext11
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:15px
}

.dytext12
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:50px
}

.dytext13
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:75px
}


.dytext14
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:80px
}


.dytext15
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:100px
}

.dytext16
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:100px
}



.dytext21
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:25px
}

.dytext22
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:50px
}

.dytext23
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:70px
}

.dytext24
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:80px
}

.dytext25
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:120px
}

.dytext26
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:75px
}

.dytext27
{
	height:12px;
	font-family:Verdana;
	font-size:smaller;
	width:25px
}

