

.LabelText   
{ 
	font-family:Trebuchet MS;
	color:Black;
	text-align:right;
	height:11px;
	 font-size:small ;
}
.Textag
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:200px;
	text-transform:uppercase;
		
	
}

.Textdate
{
	
    border: 1px solid #929292;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 10px;
	color: #000000;
	height:13px;
	width:150px;
	text-transform:uppercase;
		
	
}